@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('http://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');


.container-fluid{
  background-color: rgba(36, 35, 35, 0.7);
  width: 100%;
  /* height: 100vh; */
}
.logo{
  color: black;
  font-size: 50px;
  
}
.date{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 500;
  font-size: 25px;
  text-shadow:  2px 2px 5px rgb(36, 15, 15);


  
}
.timecol{
  background-color: rgb(168, 192, 223);
}
.iconbox{
  background: linear-gradient(to right, rgba(26, 24, 24, 0.3),rgba(31, 31, 192, 0.4));

}
#card-footer{
  background: linear-gradient(to right, rgba(255, 4, 4,0.3),rgba(5, 5, 252,0.4));
  font-size: 18px;
  color: rgb(43, 9, 71);
  font-weight: 500;
  text-shadow:  1px 1px 4px rgb(69, 8, 71) ;

}
.heading{
  background: linear-gradient(to right, rgba(54, 39, 39, 0.3),rgba(207, 207, 209, 0.4));

}
.card-footer i{
  font-size: 25px;
  
  
}
.card-body{
  background: linear-gradient(to right, rgba(49, 4, 4, 0.3),rgba(8, 8, 70, 0.4));
  
}